openapi: 3.0.3
info:
  title: Genisys Plugins API
  description: |-
    This document provides API definitions for developers to access and integrate with genisys
    
    This is a work in progress
  termsOfService: http://swagger.io/terms/
  contact:
    email: support@noctiluma.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.11
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
servers:
  - url: https://api.genisysplugins.com/gateway
tags:
  - name: authentication
    description: Authentication is a multistep process
    externalDocs:
      description: WIP
      url: http://swagger.io
  - name: logs
    description: WIP

paths:
  /login:
    post:
      tags:
        - auth
      summary: Login with an existing JWT token
      description: login with an existing JWTtoken.
      operationId: login
      requestBody:
        description: login with an existing JWT token
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Login'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
  /request/login:
    post:
      tags:
        - auth
      summary: Start a login (used in the redirect phase)
      description: login with an existing JWTtoken.
      operationId: requestLogin
      requestBody:
        description: login to genisys temporarily
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            text/plain:
              schema:
                type: string
                example: base64EncodedToken
        '400':
          description: Incorrect requeest
        '401':
          description: api key not valid
        '403':
          description: subscription not available
components:
  schemas:
    Login:
      type: object
      properties:
        token:
          type: string
          example: abcdef12345
    LoginResponse:
      type: object
      properties:
        signed:
          type: string
          example: abcdef12345
        subscription:
          type: object
    LoginRequest:
      type: object
      properties:
        username:
          type: string
        subscriptionId:
          type: string
        ticket:
          type: string
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        message:
          type: string
      xml:
        name: '##default'
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: header